* {
  margin: 0px;
  padding: 0px;
}

.contenedor {
  width: 65%;
  margin: 10px 0px 5px 35%;
}

.slides {
  width: 70%;

  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.slides .Pima {
  width: 100%;
  position: relative;
  left: 25%;
}

.slidesjs-pagination {
	background:#424242;
	list-style:none;
	overflow:hidden;
}

.slidesjs-pagination li {
	float:left;
}

.slidesjs-pagination li a {
	display:block;
	padding:10px 15px;
	color:#fff;
	text-decoration:none;
}

.slidesjs-pagination li a:hover {
	background:#000;
}

.slides .active {
	background:#000;
}

.slidesjs-navigation{
	background: black;
	color: white;
	text-decoration:none;
	display:inline-block;
	padding:10px 20px;
	float:right;
}
