.contenedorF, .dir {
  width: 40%;
  /*display: inline-block;*/
}

.dir {
  /*position: relative;*/
  font-family: Arial, serif, sans-serif;
  font-size: 1.2em;
  margin-top: 7%;
  margin-left: 5%;
  float: left;

  border: 5px double black;
  background-image: url('../img/fondos/aqua.jpg');
  background-attachment: fixed;
  padding: 35px 5px;
}

.contenedorF {
  float: right;
  margin-right: 10%;
}

.contenedorF p{
  padding: 10px 0;
  margin-left: 50%;
  text-decoration: underline;
}

.contenedorF input{
  border-radius:5px; /*probar con 10px se hacen ovalados los inputs*/
  box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);
  font:bold 12px Arial, Helvetica, sans-serif;

  width: 200px;
  height: 20px;
  margin: 8px 0;
  float: left;
}

.contenedorF label {
  color: black;
  font-size: 1.1em;
  padding-right: 50%;
  float: left;
}

.contenedorF textarea {
  float: left;
  margin: 5px 0;
}

.error, span {
  color: red;
  opacity: 0.9;
}

.error {
  font-size: 1.1em;
  text-decoration: underline;
}

#enviarC {
  width: 120px;
  font-size: 14px;
  border-color: #006799;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;

  float: right;
}

#enviarC:hover {
  background-color: white;
}
