.clear {
  clear: both;
}

.tabla {

  background-image: url('../img/fondos/fondo.jpg');
  background-attachment: fixed;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: 5px double black;
  width: auto;
  /*width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  /*width: -moz-max-content;    /* Firefox/Gecko */
  /*width: -webkit-max-content; /* Chrome */
  overflow: hidden;
}

th {
  border-bottom: 2px solid black;
}

td, tr{
  margin: auto;
  border: 1px solid white;
  text-align: center;
}

#imagen {
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  left: 25%;
  border-radius: 15px;
}
