.clear{
  clear: both;
}

body{
  margin: 0;
  padding: 0;
  background-color: #E0E1DD;
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
}

h3{
  text-align: center;
  color: #ff2828;
}
h4{
  text-align: center;
  color: #28502E;
}
/* ESTILO DEL HEADER(LOGO Y NAVBAR)*/
head{
   margin-top: 1em;
   margin-bottom: 1em;
   /*height: 10%;*/
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }

 .Logo{
   display: block;
   margin: 1em auto;
   width: 40%;
 }
 /*ESTILO DEL MENU PRINCIPAL*/
 nav ul {
   background-color: #008c43;
   text-align: center;
   padding: 0;
   margin: 0;
   line-height: 3px;
 }
 nav li {
   font-size: 1.2em;
   line-height: 40px;
   height: 50px;
   border-bottom: 1px solid #888;
 }

 nav a {
   text-decoration: none;
   color: white;
   display: block;
   transition: .3s background-color;
 }

 nav a:hover {
   background-color: #28502E;
 }

 nav a.active {
   background-color: #fff;
   color: blue;
   cursor: default;
 }

 @media screen and (min-width: 600px) {
   nav li {
     width: 150px;
     border-bottom: none;
     line-height: 50px;
     /*height: 50px;*/
     font-size: 1.4em;
   }

   nav li {
     display: inline-block;
     margin-right: -4px;
   }

 li:active{
   height: 4em;
   background-color: #28502E;
 }

/*ESTILO SECTION MEDIA*/
.bloque{
  /*border: 5px solid black;*/
  display: flex;
  flex-direction: row;
}
/*ESTILO BARRA */

.Barra{
  width: 20%;
  background-color: #d1d3c4;
  border: 5px solid white;
  display: flex;
  flex-direction: column;
  float: left;
}
.Sesion, .Promos{
  /*border: 5px solid orange;*/
}

.ArtP{
  display: block;
  margin-top: .5em;
  margin-bottom: .5em;
  margin-left: 1em;
  margin-right: 1em;
  /*border: 5px solid navy;*/
}
.FC1{
  color: #3c3c3c;
}

.PReg{color: #008c43;}
.PPro{color: #ff2828;}

.Pima{
  display: block;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
/*ESTILO SECCION PRINCIPAL */

.MSection{
  /*width: 60%;*/
  background-color: #d1d3c4;
  border: 5px solid white;
  display: flex;
  flex-direction: column;
}
/*INDEX*/
#Slider{
  display: block;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  /*border: 5px solid red;*/
  width: 60%;
}

.articulos{
  position: relative;
  left: 25%;
}

.AG1{
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  margin-bottom: 1em;
  /*border: 5px solid navy;*/
}
.ART{
  text-align: center;
  color: #28502E;
  font-size: 1.6em;
  font-family: 'Roboto', sans-serif;
  /*border: 5px solid red;*/
}
#AIma, .AIma{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.MLink a{
  color: #28502E;
  text-decoration: none;
}
.compranos, .MPInfo{
  text-align: center;
}
/*ASADORES|FIREPIT|GAZEBOS|ACCESORIOS*/
.LAsadores{
  margin-top: 3em;
  display: flex;
  flex-direction: column;
}
.AIndividual{
  display: flex;
  flex-direction: row;
  margin: 4em;
}
#Asaima, .Asaima, #Pitima, .Pitima, #Gazima, .Gazima{
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ArtInfo a{
  text-decoration: none;
  padding: 5;
  background-color: #4fb477;
  color: white;
}

.ADes{
  text-align: center;
}
/*CONTACTO*/
.contform{
  margin-bottom: 1.5em;
}
/*INCIA FOOTER*/

.INFO{
  text-align: center;
  color: white;
  font-size: .6em;
  font-family:inherit;
  display: flex;
  flex-direction: row;
  background-color: #28502E;
  /*border: 5px solid orange;*/
}

.FCont{
  width: 100%;
  /*border: 5px solid navy;*/
}

/*INICIA ESTILO PARA CONTACTO*/
.inside {padding:24px 40px 30px 50px}
.NContact {width:100%;overflow:hidden}
.EXTInfo {overflow:hidden}
#h2form {padding:24px 40px 20px 50px;background:url(../imagenes/f1.png) repeat-x; color: silver}
#contacts-form {clear:right;width:100%;overflow:hidden}
#contacts-form fieldset {border:none;float:left}
#contacts-form .campo {clear:both;min-height:30px;height:auto}
#contacts-form label {float:left;width:104px;font-weight:bold}
#contacts-form input {width:267px;padding:2px 0 2px 3px;border:1px solid #d2d2d2;float:left}
#contacts-form textarea {width:531px;height:167px;padding:2px 0 2px 3px;border:1px solid #d2d2d2;margin-bottom:15px;overflow:auto;float:left}
#contacts-form .link1 {float:left}
.contform {padding:25px 49px 45px 49px}
#boton {background-image: url(../imagenes/link1-border)}

/*TERMINA ESTILO PARA CONTACTO*/

/*INICIA ESTILO PARA ACERCA DE NOSOTROS*/
.team li {width:100%;clear:left;vertical-align:top;line-height:1.538em;padding-bottom:20px}
.team li img {float:left;margin-bottom: 20px; margin-right: 20px}
.team li strong {display:block;padding-bottom:6px}

/* Estilo para el login */

#contact-form {
   background-color: #4fb477;
   width: 80%;

   padding: 10px;
   margin-top: 5%;
   margin-left: 5%;

   border-radius: 10px;
   -moz-border-radius: 15px;
   -webkit-border-radius: 15px;
}

#contact-form input, #contact-form label {
   font-size: 15px;
   margin-left: 5px;
   margin-bottom: 2px;
   font-family:inherit;
}

#contact-form input {
   width: 80%;
   background: #fff;

   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;

   border-radius: 5px;
   margin-left: 5px;
   margin-bottom: 25px;
   padding: 5px;
}

#contact-form input:focus {
   background-color: #E5E6E7;
}

#contact-form #submit {
   width: auto;
   color: black;
   border: none;
   background-color: 	#CCCCCC;
}

#contact-form #submit:hover {
   background-color: #BFD7C1;
   color: black;
}

input:required {
   box-shadow: none;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
}

#contact-form .requerido {
   font-weight:bold;
   color: red;
}
/*INICIA ESTILO DEL FOOTER*/

#Cuenta{
  border-left: 2px solid white;
  border-right: 2px solid white;
}
.INFO{
  text-align: center;
  color: white;
  font-size: .8em;
  font-family:inherit;
  display:flex;

  background-color: #28502E;
  /*border: 5px solid orange;*/
}
.FCont{
  width: 100%;
  /*border: 5px solid navy;*/
}
.FLink a, .ULink a{
  color: white;
  text-decoration: none;
}

.FMenu{
  list-style-type: none;
  margin: 1em 3em 1em 11em;
  text-align: left;
}
.Conta{
  margin: 1em 3em 1em 8em;
  text-align: left;
}

#RFace, #RYouT, #RInsta{
  width: 10%;
}
.LEGAL{

  text-align: center;
  color: white;
  font-family: inherit;
  background-color: #3c3c3c;
}
.LT{
  padding-top: 1em;
  padding-bottom: 1em;
}
.LHM{
    font-size: .5em;
    padding-bottom: 0;
    margin-bottom: 0;
}

#HMima, #Roman92, #Dante0{
  margin: 0.1em .7em;
  width: 3%;
}

.Team a{
  color: white;
  font-family: inherit;
  text-decoration: none;
  margin-bottom: 2em;
}
