body{
    background:#cc9;
    /*background:#181907;*/
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    margin: 0;
}

#registrar{
        float:left;
        width:80%;
        font-size:24px;
        font-weight:bold;
        color:#FFF;
        text-align:right;
}

#envoltura{
    position:absolute;
    /*left y top al 50% para que quede centrado en la pantalla*/
    left:50%;
    top:40%;
    margin-left:-165px;
    margin-top: -210px;
    width: 400px;

}

#contenedor{
    background-color:#FF660B;
    /*background-color:#356AA0;*/
    /*box-shadow: 0 0 0 9px rgba(128,0,0,.1);*/
    /*Margen de sombra alrededor del contenedor 8px negro*/
    box-shadow: 3px 3px 10px 5px rgba(0,0,0,.8);
    /*Las 3 líneas siguientes, sirven para el borde redondeado
     * pero para diferentes navegadores*/
    -webkit-border-radius:5px;
    -moz-border-radius:10px;
    border-radius:10px;
}

#cabecera{
    /*linea azul que separa logo*/
    border-bottom: 5px solid #333;
    padding-top: 5px;
    /*color:#FFF;*/
    height:70px;
    line-height:50px;
    text-align:center;
}

#cuerpo{
    background:#ececec;
    border:solid #ccc;
    /*aumentando el 2px 'aparece' un borde*/
    border-width: 2px 0;
    padding:15px 35px;
}

#btG {
  margin: 10px 5px 15px;
}

#btC {
  margin: 10px 20px 15px;
}

#btC a {
  text-decoration: none;
  color: black;
}

#btG, #btC {
  width: 100px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

#btG:hover, #btC:hover {
  background-color: gray;
}

label{
    color: #666;
    font-weight: bold
}

input{
    /*border: 1px solid #999; No usar esta línea y dejar box-shadow hace efecto de profundidad*/
    border-radius:5px; /*probar con 10px se hacen ovalados los inputs*/
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);
    font:bold 12px Arial, Helvetica, sans-serif;
    height: 24px;
    line-height: 20px;
    padding:2px;
    margin: 5px;
    width: 300px;
}
