* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.clear {
  clear: both;
}

body {
  background-color: #f1f1f1;
}

/* Clase para evitar seleccionar información de relevancia para el sitio*/
.importante {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select:none;
}

/* Estilo para el contenido de la información */
.info{
  width: 90%;
  margin: 10% 5% 0px 5%;
  list-style-type: none;
}

.MSection{
  width: 100%;
  background-color: #d1d3c4;
  overflow: auto;
}

/********************** Estilo para la cabecera ******************************/
.fijo {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 100;
  top: 0;
}
/*Menú con busqueda e inicio de sesion*/
.menu_BS {
  width: 100%;
  background-color: black;
  opacity: 0.9;
  display: inline-block;
  color: white;
}

/*seccion de busqueda*/
.busqueda {
  float: left;
  padding: 5px;
}

/*seccion de sesion*/
.sesion {
  float: right;
  padding: 10px;
}

.sesion a {
  text-decoration: none;
  color: white;
}

.sesion a:hover {
  color: #008c43;
  text-decoration: underline;
}

/*Menú de navegación a diferentes secciones del sitio*/
.menu_Nav {
  background-color: white;
  padding: 5px 0;
}

/*Posicion fija para la sección de menús*/

/* Estilo para la caja y boton de busqueda */
#caja_B {
  width: 200px;
  height: 24px;
  font-size: 14px;
  margin-right: 5px;
  float: left;
}

#bt_B {
  width: 32px;
  height: 28px;
  background-image: url('../img/32x32/bsc.png');
  background-color: white;
  border-radius: 5px;

  -webkit-transition: all 500ms ease-in-out; /* IE 9*/
  -moz-transition: all 500ms ease-in-out; /* Firefox*/
  -ms-transition: all 500ms ease-in-out; /* Safari y Chrome */
  -o-transition: all 500ms ease-in-out; /* Opera */
}

#bt_B:hover {
  border-radius: 15px;
}

/* Estilo para el logo del sitio */
.logo {
  margin: auto;
  display: block;
  width: 40%;
  padding: 3px;
  background-color: white;

}

/* Estilo para las opcines a diferentes secciones del sitio */
#opciones ul {
  background-color: #008c43;
  text-align: center;
}

#opciones li {
  font-size: 1.2em;
   height: 80%;
   border-bottom: 1px solid #888;
   padding: 0px 15px;
}

#opciones a {
  text-decoration: none;
  color: white;
  display: block;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}

#opciones a:hover {
  background-color: #004f28;
}

#opciones a:active {
  background-color: #fff;
  color: blue;
  cursor: default;
}

/* Tamaño para las opcines del menú */
@media screen and (min-width: 600px) {
  #opciones li {
    width: 150px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
  }

  #opciones li:active {
    background-color: #164b31;
  }
}

/********************** Estilo para el formulario de contacto ***************/
.contenedorF, .dir {
  width: 40%;
  /*display: inline-block;*/
}

.dir {
  /*position: relative;*/
  font-family: Arial, serif, sans-serif;
  font-size: 1.2em;
  margin-top: 7%;
  margin-left: 5%;
  float: left;

  border: 5px double black;
  background-image: url('../img/fondos/aqua.jpg');
  background-attachment: fixed;
  padding: 35px 5px;
}

.contenedorF {
  float: right;
  margin-right: 10%;
}

.contenedorF p{
  padding: 10px 0;
  margin-left: 50%;
  text-decoration: underline;
}

.contenedorF input{
  border-radius:5px; /*probar con 10px se hacen ovalados los inputs*/
  box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);
  font:bold 12px Arial, Helvetica, sans-serif;

  width: 200px;
  height: 20px;
  margin: 8px 0;
  float: left;
}

.contenedorF label {
  color: black;
  font-size: 1.1em;
  padding-right: 50%;
  float: left;
}

.contenedorF textarea {
  float: left;
  margin: 5px 0;
}

.error, span {
  color: red;
  opacity: 0.9;
}

.error {
  font-size: 1.1em;
  text-decoration: underline;
}

#enviarC {
  width: 120px;
  font-size: 14px;
  border-color: #006799;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;

  float: right;
}

#enviarC:hover {
  background-color: white;
}

/********************** Estilo para el pie de pagina ************************/
footer {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 0.9em;
}
.Footer{
  padding: 1.2em;
  background-color: #164b31;
  display: flex;
  flex-flow: row;
}
.Fcont{width: 100%;}

.Fcont ul li a{
  font-size: 0.9em;
  color: #00c865;
  text-decoration: none;
}

.Develop{
  color: white;
  margin: auto;
  display: flex;
  flex-flow: column;
  background-color: #333;
}

.Equipo{
  margin: auto;
  display: flex;
  flex-flow: row;
  font-size: .5em;
}
.Member{margin: 1em;}
h6, h5{font-size: .4em;text-align: center; color: white;text-decoration: none; list-style-type: none;}
h4{font-size: 1em;}
